body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formContainer {
   
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
#accountform-div{
    margin-top: -8px;
    
  }
  
  .formContainer{
    width: 91%;
    margin-top: 10px;
  }
  
  .account-box{
    border-radius: 31px;
    font-size: 20px;
    width: 80%;
    margin-top: 10px;
  }
  #btn-primary{
    margin-bottom: 14px;
  }
  
  #ticket img{
      width: 100px;
  }
  @media screen and (max-width:600px){
    #formContainer{
      
      padding-top: 90px;
    }
  
  }
  @media screen and (max-width:650px){
   
    .jumbotron {
      border-radius: 0px;
    }
  
   
  }
  @media screen and (max-width: 650px){
    #ticket{
      width: 100%;
      margin-top: 0px;
    }
    .account-box{
      
      margin-top: 0px;
    }
  }
  
  @media screen and (min-width: 700px){
    .formContainer{
      width: 650px;
    }
  } 
  
  
  



.formContainer:hover{
    cursor: pointer;
}