body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formContainer {
    height: auto;
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    margin-top: 20px;
}

.formContainer:hover{
    cursor: pointer;
}