*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.formContainer{
    @media
}
.hiddenCardContainer {
    display: flex;
    flex-direction: row;
}

.cardLogo {
    margin: 50px 5px 5px 5px;
}

.cardDetail {
    margin-left: 20px;
}

.cardDetail p {
    font-size: 12px;
    color: lightgrey;
}

.cardDetail h2 {
    font-size: large;
}

.cardDetail button {
   display: flex;
   flex-direction: row;
    height: auto;
    padding: 5px;
    outline: none;
    outline-style: none;
    border: none;
    background: #fff;
    font-size: 12px;
    transition: all .3s ease-in-out;
    border-radius: 22px;
}
.cardDetail button:hover{
    background: rgb(238, 236, 233);
}
.cardDetail a {
    font-style: bold;
    color: black;
    padding: 6px 0;
    transition: all .3s ease-in-out;
    border-radius: 3px;
}
.cardDetail a:hover{
    background: rgb(238, 236, 233);
}
.ip-btn{
    text-overflow: ellipsis;
  overflow: hidden; 
  width: 90px; 
  height: 1.2em; 
  
  
}

