#section2 {
  padding-top: 95px;
}

#card_module {
  background: rgb(88, 63, 251);
  background: radial-gradient(
    circle,
    rgba(88, 63, 251, 1) 0%,
    rgba(70, 86, 252, 1) 100%
  );
  color: #fff;
}
a:hover {
  text-decoration: none;
}

.navigate-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}
.token-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  margin: 0 13px;
  padding: 10px ;
  color: white;
  background: crimson;
  border-radius: 40px;
  

}
..token-div h3{
  
}
.farm-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  margin: 0 13px;
  padding: 10px ;
  color: white;
  background: crimson;
  border-radius: 40px;
  
  
}
.account-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  margin: 0 13px;
  padding: 10px ;
  color: white;
  background: crimson;
  border-radius: 40px;
  
}

/* @media screen and (max-width:600px){
  #section2{
    position: fixed;
        width: 100%;
        top: 60px;
        left: -100%;
  }
} */