#section2 {
  padding-top: 95px;
}

#card_module {
  background: rgb(88, 63, 251);
  background: radial-gradient(
    circle,
    rgba(88, 63, 251, 1) 0%,
    rgba(70, 86, 252, 1) 100%
  );
  color: #fff;
}
a:hover {
  text-decoration: none;
}
@media screen and (max-width:600px){
  #section2{
    position: fixed;
        width: 100%;
        top: 60px;
        left: -100%;
  }
}