#ticket {
  background: rgb(244, 4, 222);
  background: linear-gradient(
    90deg,
    rgba(244, 4, 222, 1) 0%,
    rgba(14, 144, 228, 1) 51%,
    rgba(212, 41, 230, 1) 100%
  );
  width: 60%;
}




.continueBtn{
  word-break: normal;
tab-size: 4;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: transparent;
--v-anchor-base: #5b39fe;
--v-primary-base: #5b39fe;
--v-primary-lighten5: #fec0ff;
--v-primary-lighten4: #dfa4ff;
--v-primary-lighten3: #bf88ff;
--v-primary-lighten2: #9f6dff;
--v-primary-lighten1: #7e53ff;
--v-primary-darken1: #301ee1;
--v-primary-darken2: #0000c4;
--v-primary-darken3: #0000a7;
--v-primary-darken4: #00008c;
--v-secondary-base: #424242;
--v-secondary-lighten5: #c1c1c1;
--v-secondary-lighten4: #a6a6a6;
--v-secondary-lighten3: #8b8b8b;
--v-secondary-lighten2: #727272;
--v-secondary-lighten1: #595959;
--v-secondary-darken1: #2c2c2c;
--v-secondary-darken2: #171717;
--v-secondary-darken3: #000000;
--v-secondary-darken4: #000000;
--v-accent-base: #82b1ff;
--v-accent-lighten5: #ffffff;
--v-accent-lighten4: #f8ffff;
--v-accent-lighten3: #daffff;
--v-accent-lighten2: #bce8ff;
--v-accent-lighten1: #9fccff;
--v-accent-darken1: #6596e2;
--v-accent-darken2: #467dc6;
--v-accent-darken3: #2364aa;
--v-accent-darken4: #004c90;
--v-error-base: #ff5252;
--v-error-lighten5: #ffe4d5;
--v-error-lighten4: #ffc6b9;
--v-error-lighten3: #ffa99e;
--v-error-lighten2: #ff8c84;
--v-error-lighten1: #ff6f6a;
--v-error-darken1: #df323b;
--v-error-darken2: #bf0025;
--v-error-darken3: #9f0010;
--v-error-darken4: #800000;
--v-info-base: #2196f3;
--v-info-lighten5: #d4ffff;
--v-info-lighten4: #b5ffff;
--v-info-lighten3: #95e8ff;
--v-info-lighten2: #75ccff;
--v-info-lighten1: #51b0ff;
--v-info-darken1: #007cd6;
--v-info-darken2: #0064ba;
--v-info-darken3: #004d9f;
--v-info-darken4: #003784;
--v-success-base: #4caf50;
--v-success-lighten5: #dcffd6;
--v-success-lighten4: #beffba;
--v-success-lighten3: #a2ff9e;
--v-success-lighten2: #85e783;
--v-success-lighten1: #69cb69;
--v-success-darken1: #2d9437;
--v-success-darken2: #00791e;
--v-success-darken3: #006000;
--v-success-darken4: #004700;
--v-warning-base: #ffc107;
--v-warning-lighten5: #ffffae;
--v-warning-lighten4: #ffff91;
--v-warning-lighten3: #ffff74;
--v-warning-lighten2: #fff956;
--v-warning-lighten1: #ffdd37;
--v-warning-darken1: #e0a600;
--v-warning-darken2: #c18c00;
--v-warning-darken3: #a27300;
--v-warning-darken4: #855a00;
--v-text-base: #0f3256;
--v-text-lighten5: #94add9;
--v-text-lighten4: #7992be;
--v-text-lighten3: #5f79a2;
--v-text-lighten2: #466088;
--v-text-lighten1: #2c486f;
--v-text-darken1: #001d3f;
--v-text-darken2: #000229;
--v-text-darken3: #000016;
--v-text-darken4: #000000;
--v-icon-base: #0f3256;
--v-icon-lighten5: #94add9;
--v-icon-lighten4: #7992be;
--v-icon-lighten3: #5f79a2;
--v-icon-lighten2: #466088;
--v-icon-lighten1: #2c486f;
--v-icon-darken1: #001d3f;
--v-icon-darken2: #000229;
--v-icon-darken3: #000016;
--v-icon-darken4: #000000;
--v-textFaint-base: #c3c5cb;
--v-textFaint-lighten5: #ffffff;
--v-textFaint-lighten4: #ffffff;
--v-textFaint-lighten3: #ffffff;
--v-textFaint-lighten2: #fcfeff;
--v-textFaint-lighten1: #dfe1e7;
--v-textFaint-darken1: #a8aab0;
--v-textFaint-darken2: #8d8f95;
--v-textFaint-darken3: #74767b;
--v-textFaint-darken4: #5b5d62;
--v-heading-base: #0f3256;
--v-heading-lighten5: #94add9;
--v-heading-lighten4: #7992be;
--v-heading-lighten3: #5f79a2;
--v-heading-lighten2: #466088;
--v-heading-lighten1: #2c486f;
--v-heading-darken1: #001d3f;
--v-heading-darken2: #000229;
--v-heading-darken3: #000016;
--v-heading-darken4: #000000;
--v-outline-base: #e7e8ea;
--v-outline-lighten5: #ffffff;
--v-outline-lighten4: #ffffff;
--v-outline-lighten3: #ffffff;
--v-outline-lighten2: #ffffff;
--v-outline-lighten1: #ffffff;
--v-outline-darken1: #cbccce;
--v-outline-darken2: #afb0b2;
--v-outline-darken3: #959698;
--v-outline-darken4: #7b7c7e;
--v-background-base: #f5f7f9;
--v-background-lighten5: #ffffff;
--v-background-lighten4: #ffffff;
--v-background-lighten3: #ffffff;
--v-background-lighten2: #ffffff;
--v-background-lighten1: #ffffff;
--v-background-darken1: #d9dbdc;
--v-background-darken2: #bdbfc1;
--v-background-darken3: #a2a4a5;
--v-background-darken4: #88898b;
--v-midground-base: #ffffff;
--v-midground-lighten5: #ffffff;
--v-midground-lighten4: #ffffff;
--v-midground-lighten3: #ffffff;
--v-midground-lighten2: #ffffff;
--v-midground-lighten1: #ffffff;
--v-midground-darken1: #e2e2e2;
--v-midground-darken2: #c6c6c6;
--v-midground-darken3: #ababab;
--v-midground-darken4: #919191;
--v-foreground-base: #ffffff;
--v-foreground-lighten5: #ffffff;
--v-foreground-lighten4: #ffffff;
--v-foreground-lighten3: #ffffff;
--v-foreground-lighten2: #ffffff;
--v-foreground-lighten1: #ffffff;
--v-foreground-darken1: #e2e2e2;
--v-foreground-darken2: #c6c6c6;
--v-foreground-darken3: #ababab;
--v-foreground-darken4: #919191;
--v-inputcolor-base: #f5f7f9;
--v-inputcolor-lighten5: #ffffff;
--v-inputcolor-lighten4: #ffffff;
--v-inputcolor-lighten3: #ffffff;
--v-inputcolor-lighten2: #ffffff;
--v-inputcolor-lighten1: #ffffff;
--v-inputcolor-darken1: #d9dbdc;
--v-inputcolor-darken2: #bdbfc1;
--v-inputcolor-darken3: #a2a4a5;
--v-inputcolor-darken4: #88898b;
pointer-events: auto;
overflow-wrap: break-word;
background-repeat: no-repeat;
box-sizing: inherit;
margin: 0;
font: inherit;
overflow: visible;
border-style: none;
cursor: pointer;
align-items: center;
justify-content: center;
outline: 0;
position: relative;
text-decoration: none;
text-indent: .0892857143em;
transition-duration: .28s;
transition-property: box-shadow,transform,opacity;
transition-timing-function: cubic-bezier(.4,0,.2,1);
user-select: none;
vertical-align: middle;
white-space: nowrap;
display: flex;
flex: 1 0 auto;
min-width: 100%!important;
box-shadow: none!important;
border-radius: 28px;
font-size: 1rem;
will-change: box-shadow;
text-transform: none;
letter-spacing: normal;
font-weight: 700;
background-color: var(--v-primary-base) !important;
border-color: var(--v-primary-base) !important;
color: #fff;
height: 52px;
padding: 0 8px;
}



.backBtn{
  word-break: normal;
tab-size: 4;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: transparent;
--v-anchor-base: #5b39fe;
--v-primary-base: #5b39fe;
--v-primary-lighten5: #fec0ff;
--v-primary-lighten4: #dfa4ff;
--v-primary-lighten3: #bf88ff;
--v-primary-lighten2: #9f6dff;
--v-primary-lighten1: #7e53ff;
--v-primary-darken1: #301ee1;
--v-primary-darken2: #0000c4;
--v-primary-darken3: #0000a7;
--v-primary-darken4: #00008c;
--v-secondary-base: #424242;
--v-secondary-lighten5: #c1c1c1;
--v-secondary-lighten4: #a6a6a6;
--v-secondary-lighten3: #8b8b8b;
--v-secondary-lighten2: #727272;
--v-secondary-lighten1: #595959;
--v-secondary-darken1: #2c2c2c;
--v-secondary-darken2: #171717;
--v-secondary-darken3: #000000;
--v-secondary-darken4: #000000;
--v-accent-base: #82b1ff;
--v-accent-lighten5: #ffffff;
--v-accent-lighten4: #f8ffff;
--v-accent-lighten3: #daffff;
--v-accent-lighten2: #bce8ff;
--v-accent-lighten1: #9fccff;
--v-accent-darken1: #6596e2;
--v-accent-darken2: #467dc6;
--v-accent-darken3: #2364aa;
--v-accent-darken4: #004c90;
--v-error-base: #ff5252;
--v-error-lighten5: #ffe4d5;
--v-error-lighten4: #ffc6b9;
--v-error-lighten3: #ffa99e;
--v-error-lighten2: #ff8c84;
--v-error-lighten1: #ff6f6a;
--v-error-darken1: #df323b;
--v-error-darken2: #bf0025;
--v-error-darken3: #9f0010;
--v-error-darken4: #800000;
--v-info-base: #2196f3;
--v-info-lighten5: #d4ffff;
--v-info-lighten4: #b5ffff;
--v-info-lighten3: #95e8ff;
--v-info-lighten2: #75ccff;
--v-info-lighten1: #51b0ff;
--v-info-darken1: #007cd6;
--v-info-darken2: #0064ba;
--v-info-darken3: #004d9f;
--v-info-darken4: #003784;
--v-success-base: #4caf50;
--v-success-lighten5: #dcffd6;
--v-success-lighten4: #beffba;
--v-success-lighten3: #a2ff9e;
--v-success-lighten2: #85e783;
--v-success-lighten1: #69cb69;
--v-success-darken1: #2d9437;
--v-success-darken2: #00791e;
--v-success-darken3: #006000;
--v-success-darken4: #004700;
--v-warning-base: #ffc107;
--v-warning-lighten5: #ffffae;
--v-warning-lighten4: #ffff91;
--v-warning-lighten3: #ffff74;
--v-warning-lighten2: #fff956;
--v-warning-lighten1: #ffdd37;
--v-warning-darken1: #e0a600;
--v-warning-darken2: #c18c00;
--v-warning-darken3: #a27300;
--v-warning-darken4: #855a00;
--v-text-base: #0f3256;
--v-text-lighten5: #94add9;
--v-text-lighten4: #7992be;
--v-text-lighten3: #5f79a2;
--v-text-lighten2: #466088;
--v-text-lighten1: #2c486f;
--v-text-darken1: #001d3f;
--v-text-darken2: #000229;
--v-text-darken3: #000016;
--v-text-darken4: #000000;
--v-icon-base: #0f3256;
--v-icon-lighten5: #94add9;
--v-icon-lighten4: #7992be;
--v-icon-lighten3: #5f79a2;
--v-icon-lighten2: #466088;
--v-icon-lighten1: #2c486f;
--v-icon-darken1: #001d3f;
--v-icon-darken2: #000229;
--v-icon-darken3: #000016;
--v-icon-darken4: #000000;
--v-textFaint-base: #c3c5cb;
--v-textFaint-lighten5: #ffffff;
--v-textFaint-lighten4: #ffffff;
--v-textFaint-lighten3: #ffffff;
--v-textFaint-lighten2: #fcfeff;
--v-textFaint-lighten1: #dfe1e7;
--v-textFaint-darken1: #a8aab0;
--v-textFaint-darken2: #8d8f95;
--v-textFaint-darken3: #74767b;
--v-textFaint-darken4: #5b5d62;
--v-heading-base: #0f3256;
--v-heading-lighten5: #94add9;
--v-heading-lighten4: #7992be;
--v-heading-lighten3: #5f79a2;
--v-heading-lighten2: #466088;
--v-heading-lighten1: #2c486f;
--v-heading-darken1: #001d3f;
--v-heading-darken2: #000229;
--v-heading-darken3: #000016;
--v-heading-darken4: #000000;
--v-outline-base: #e7e8ea;
--v-outline-lighten5: #ffffff;
--v-outline-lighten4: #ffffff;
--v-outline-lighten3: #ffffff;
--v-outline-lighten2: #ffffff;
--v-outline-lighten1: #ffffff;
--v-outline-darken1: #cbccce;
--v-outline-darken2: #afb0b2;
--v-outline-darken3: #959698;
--v-outline-darken4: #7b7c7e;
--v-background-base: #f5f7f9;
--v-background-lighten5: #ffffff;
--v-background-lighten4: #ffffff;
--v-background-lighten3: #ffffff;
--v-background-lighten2: #ffffff;
--v-background-lighten1: #ffffff;
--v-background-darken1: #d9dbdc;
--v-background-darken2: #bdbfc1;
--v-background-darken3: #a2a4a5;
--v-background-darken4: #88898b;
--v-midground-base: #ffffff;
--v-midground-lighten5: #ffffff;
--v-midground-lighten4: #ffffff;
--v-midground-lighten3: #ffffff;
--v-midground-lighten2: #ffffff;
--v-midground-lighten1: #ffffff;
--v-midground-darken1: #e2e2e2;
--v-midground-darken2: #c6c6c6;
--v-midground-darken3: #ababab;
--v-midground-darken4: #919191;
--v-foreground-base: #ffffff;
--v-foreground-lighten5: #ffffff;
--v-foreground-lighten4: #ffffff;
--v-foreground-lighten3: #ffffff;
--v-foreground-lighten2: #ffffff;
--v-foreground-lighten1: #ffffff;
--v-foreground-darken1: #e2e2e2;
--v-foreground-darken2: #c6c6c6;
--v-foreground-darken3: #ababab;
--v-foreground-darken4: #919191;
--v-inputcolor-base: #f5f7f9;
--v-inputcolor-lighten5: #ffffff;
--v-inputcolor-lighten4: #ffffff;
--v-inputcolor-lighten3: #ffffff;
--v-inputcolor-lighten2: #ffffff;
--v-inputcolor-lighten1: #ffffff;
--v-inputcolor-darken1: #d9dbdc;
--v-inputcolor-darken2: #bdbfc1;
--v-inputcolor-darken3: #a2a4a5;
--v-inputcolor-darken4: #88898b;
pointer-events: auto;
overflow-wrap: break-word;
background-repeat: no-repeat;
box-sizing: inherit;
margin: 0;
font: inherit;
overflow: visible;
border-style: none;
cursor: pointer;
align-items: center;
display: inline-flex;
flex: 0 0 auto;
justify-content: center;
outline: 0;
position: relative;
text-decoration: none;
text-indent: .0892857143em;
transition-duration: .28s;
transition-property: box-shadow,transform,opacity;
transition-timing-function: cubic-bezier(.4,0,.2,1);
user-select: none;
vertical-align: middle;
white-space: nowrap;
min-height: 0;
min-width: 0;
padding: 0;
background-color: transparent;
border-radius: 50%;
font-size: .875rem;
will-change: box-shadow;
height: 36px;
width: 36px;
text-transform: none;
letter-spacing: normal;
font-weight: 700;
color: var(--v-icon-base);
}