#token-ticket{
    background: rgb(244, 4, 222);
    background: linear-gradient(
      90deg,
      rgba(244, 4, 222, 1) 0%,
      rgba(14, 144, 228, 1) 51%,
      rgba(212, 41, 230, 1) 100%
    );
    border-radius: 31px;
  font-size: 20px;
  padding: 54px 8px 53px 1px;
  width: 80%;
  margin-top: 10px;
}


@media screen and (max-width:600px){
    #token-ticket{
      padding-top: 90px;
    }
  
  }
  @media screen and (max-width:650px){
   
    #token-ticket {
      border-radius: 0px;
    }
    
  }
  @media screen and (max-width: 650px){
    #token-ticket{
      width: 100%;
      margin-top: 0px;
    }
  }
  
  @media screen and (min-width: 650px){
    #token-ticket{
      width: 600px;
    }
  } 
  
  @media screen and (min-width: 700px){
    #token-ticket{
      width: 680px;
    }
  } 
  .farmable-token{
      color: white;
      font-weight: 700;
      text-align: left;
  }
  .form-control{
      border: 2px double white;
      margin: 0 3px;
      font-weight: 700;
  }
  #form-control-id{
    color: white;
   
  }
  #form-control-id::placeholder {
    color: white;
    opacity: 1;
}